:host {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background: #ffffff;

  h3.heading {
    color: darkslategray;
  }

  .actions {
    button {
      + button {
        margin-left: 6px;
      }
    }
  }
}
